# Sessions tutorial

In [1]:
# setup
from datetime import datetime

import exchange_calendars as xcals
import pandas as pd

In `exchange_calendars` a 'session' is a timezone-naive timestamp that represents a date on which an exchange is open...

In [2]:
nys = xcals.get_calendar("XNYS")  # New York Stock Exchange
nys.sessions_in_range("2022-01-01", "2022-01-13")

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13'],
              dtype='datetime64[ns]', freq='C')

The calendar stores in a `schedule` the open and close times for each session. If a session has a lunch break then the break-start and break-end times are also stored. All these times are defined in terms of UTC.

In [3]:
hkg = xcals.get_calendar("XHKG")  # Hong Kong Stock Exchange
hkg.schedule

,open,break_start,break_end,close
2002-06-10,2002-06-10 02:00:00+00:00,2002-06-10 04:00:00+00:00,2002-06-10 05:00:00+00:00,2002-06-10 08:00:00+00:00
2002-06-11,2002-06-11 02:00:00+00:00,2002-06-11 04:00:00+00:00,2002-06-11 05:00:00+00:00,2002-06-11 08:00:00+00:00
2002-06-12,2002-06-12 02:00:00+00:00,2002-06-12 04:00:00+00:00,2002-06-12 05:00:00+00:00,2002-06-12 08:00:00+00:00
2002-06-13,2002-06-13 02:00:00+00:00,2002-06-13 04:00:00+00:00,2002-06-13 05:00:00+00:00,2002-06-13 08:00:00+00:00
2002-06-14,2002-06-14 02:00:00+00:00,2002-06-14 04:00:00+00:00,2002-06-14 05:00:00+00:00,2002-06-14 08:00:00+00:00
...,...,...,...,...
2023-06-05,2023-06-05 01:30:00+00:00,2023-06-05 04:00:00+00:00,2023-06-05 05:00:00+00:00,2023-06-05 08:00:00+00:00
2023-06-06,2023-06-06 01:30:00+00:00,2023-06-06 04:00:00+00:00,2023-06-06 05:00:00+00:00,2023-06-06 08:00:00+00:00
2023-06-07,2023-06-07 01:30:00+00:00,2023-06-07 04:00:00+00:00,2023-06-07 05:00:00+00:00,2023-06-07 08:00:00+00:00
2023-06-08,2023-06-08 01:30:00+00:00,2023-06-08 04:00:00+00:00,2023-06-08 05:00:00+00:00,2023-06-08 08:00:00+00:00
2023-06-09,2023-06-09 01:30:00+00:00,2023-06-09 04:00:00+00:00,2023-06-09 05:00:00+00:00,2023-06-09 08:00:00+00:00

Each session is associated with a set of contiguous trading minutes (or two sets if the sesson has a lunch break).

In [4]:
session = hkg.schedule.index[-1]
print(f"{session=}\n")  # for reference

hkg.session_minutes(session)

session=Timestamp('2023-06-09 00:00:00', freq='C')

DatetimeIndex(['2023-06-09 01:30:00+00:00', '2023-06-09 01:31:00+00:00',
               '2023-06-09 01:32:00+00:00', '2023-06-09 01:33:00+00:00',
               '2023-06-09 01:34:00+00:00', '2023-06-09 01:35:00+00:00',
               '2023-06-09 01:36:00+00:00', '2023-06-09 01:37:00+00:00',
               '2023-06-09 01:38:00+00:00', '2023-06-09 01:39:00+00:00',
               ...
               '2023-06-09 07:50:00+00:00', '2023-06-09 07:51:00+00:00',
               '2023-06-09 07:52:00+00:00', '2023-06-09 07:53:00+00:00',
               '2023-06-09 07:54:00+00:00', '2023-06-09 07:55:00+00:00',
               '2023-06-09 07:56:00+00:00', '2023-06-09 07:57:00+00:00',
               '2023-06-09 07:58:00+00:00', '2023-06-09 07:59:00+00:00'],
              dtype='datetime64[ns, UTC]', length=330, freq=None)

See the [minutes.ipynb](./minutes.ipynb) tutorial for an explanation of how trading minutes for a session are evaluated according to the "side" option.

A timestamp representing a 'session' takes the date in which **most of the session falls** (based on UTC open/close times). Almost all calendars' have sessions that fall fully within a single date. The schedule above shows this is the case for XHKG.

A few calendars have sessions that fall over two dates...

In [5]:
cmes = xcals.get_calendar("CMES")
cmes.schedule

,open,break_start,break_end,close
2002-06-10,2002-06-09 22:00:00+00:00,NaT,NaT,2002-06-10 22:00:00+00:00
2002-06-11,2002-06-10 22:00:00+00:00,NaT,NaT,2002-06-11 22:00:00+00:00
2002-06-12,2002-06-11 22:00:00+00:00,NaT,NaT,2002-06-12 22:00:00+00:00
2002-06-13,2002-06-12 22:00:00+00:00,NaT,NaT,2002-06-13 22:00:00+00:00
2002-06-14,2002-06-13 22:00:00+00:00,NaT,NaT,2002-06-14 22:00:00+00:00
...,...,...,...,...
2023-06-05,2023-06-04 22:00:00+00:00,NaT,NaT,2023-06-05 22:00:00+00:00
2023-06-06,2023-06-05 22:00:00+00:00,NaT,NaT,2023-06-06 22:00:00+00:00
2023-06-07,2023-06-06 22:00:00+00:00,NaT,NaT,2023-06-07 22:00:00+00:00
2023-06-08,2023-06-07 22:00:00+00:00,NaT,NaT,2023-06-08 22:00:00+00:00
2023-06-09,2023-06-08 22:00:00+00:00,NaT,NaT,2023-06-09 22:00:00+00:00

Note how the sessions take their value as the date in which most of the session falls, NOT the date of the open.

### `session` parameter
Methods that require a single session to be specified take a `session` parameter. Those that act on a range of sessions take `start` and `end` parameters.

These parameters can take a `Date` or a `Session` type, defined as:

```python
Date = typing.Union[pd.Timestamp, str, int, float, datetime.datetime]
Session = Date
```
In short, a `session` parameter can take any type that can be passed as a single argument to pd.Timestamp(). For example, the argument of `next_session` takes a `Session` type and any of the following inputs are valid:
<!--TODO - following any renaming, change method in following cell to `next_session`-->

In [6]:
inputs = [
    "2021-06-15",
    pd.Timestamp("2021-06-15"),
    datetime(2021, 6, 15),
    1623715200000000000,
]
lon = xcals.get_calendar("XLON")
for input_ in inputs:
    assert lon.next_session(input_) == pd.Timestamp('2021-06-16')

The difference between `Date` and `Session` is that whilst an object passed to a parameter annotated `Date` can represent any date, an object passed to a parameter annotated `Session` must represent an actual calendar session.

For example, the arguments of `sessions_in_range` take a `Date` type, such that the following is valid even though it can be seen that neither of the values passed represent sessions.

In [7]:
lon.sessions_in_range("2022-01-01", "2022-01-09")

DatetimeIndex(['2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07'], dtype='datetime64[ns]', freq='C')

However, passing a date that is not a session to an argument that takes a `Session` will raise a `NotSessionError`...

In [ ]:
lon.session_open("2022-01-09")
# run cell for full traceback

```
---------------------------------------------------------------------------
NotSessionError                           Traceback (most recent call last)
Input In [8], in <cell line: 1>()
----> 1 lon.session_open("2022-01-09")

NotSessionError: Parameter `session` takes a session although received input that parsed to '2022-01-09 00:00:00' which is not a session of calendar 'XLON'.
```

To find out **which type a `session` parameter takes**, simply refer to the annotated types in the method signature:

In [ ]:
lon.session_open?
# run cell for full method doc

```
Signature: lon.session_open(session: 'Session', _parse: 'bool' = True) -> 'pd.Timestamp'
Docstring: Return open time for a given session.
```

#### Invalid `session` input

##### **Time components** 
A `session` parameter cannot include a time component...

In [ ]:
lon.session_open("2021-01-07 12:20")

```
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Input In [10], in <cell line: 1>()
----> 1 lon.session_open("2021-01-07 12:20")

ValueError: Parameter `session` parsed as '2021-01-07 12:20:00' although a Date must have a time component of 00:00.
```

##### **Timezone**
A `session` parameter cannot have a timezone...

In [ ]:
session = pd.Timestamp("2021-01-07", tz="UTC")
lon.session_close(session)

```
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Input In [11], in <cell line: 2>()
      1 session = pd.Timestamp("2021-01-07", tz="UTC")
----> 2 lon.session_close(session)

ValueError: Parameter `session` received with timezone defined as 'UTC' although a Date must be timezone naive.
```